*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 100px;
    background: black;
    width: 100%;
    z-index: 12;
    position: fixed;
}

.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    letter-spacing: 5px;
}

nav {
    float:right;
    line-height: 100px;
}

nav a{ 
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    letter-spacing: 4px;
    font-size: 18px;
    margin: 0 10px;
    color: #fff;
}

.dropbtn {
    background-color: black;
    color: white;
    letter-spacing: 4px;
    padding: 16px ;
    font-size: 18px;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dropdown {
    position:relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width:100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {display:block}

.dropdown:hover .dropbtn {background-color:#3e8e41}

.banner-area{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(Images/Marist.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.banner-area h2{
    padding-top: 8%;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color:black;
}

.content-area{
    width: 100%;
    position: relative;
    top: 450px;
    background: #ddd;
    height: 1500px;
}

.content-area h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.content-area p{
    padding: 2% 0;
    font-family: monospace;
    line-height: 30px;
}

