*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 100px;
    background:black;
    width: 100%;
    z-index: 12;
    position: fixed;
}

.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    letter-spacing: 5px;
}

nav {
    float:right;
    line-height: 100px;
}

nav a{ 
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 0 10px;
    color:orange;
}

.dropbtn {
    background-color: black;
    color:orange;
    letter-spacing: 2px;
    padding: 16px ;
    font-size: 18px;
    border: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dropdown {
    position:relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    min-width:100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color:orange;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: gray;
}

.dropdown:hover .dropdown-content {display:block}

.dropdown:hover .dropbtn {background-color:white}

.banner-area{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(Images/Marist.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.banner-area h2{   
    padding-top: 10%;
    font-size: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    color:black;
}

.content-area{
    width: 100%;
    position: relative;
    top: 450px;
    background: #ddd;
    height: 1500px;
}
.content-area h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 48px;
    margin: 0;
    color: orange;
    text-transform:uppercase;
}
.content-area p{
    padding: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 35px;
    font-size: 35px;
}
